@using LYM.OAuth2OpenId
@using LYM.OAuth2OpenId.Models
@using LYM.OAuth2OpenId.IdrServices.Account;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginViewModel
@{
    Layout = null;

    

}
<!DOCTYPE html>
<html>

<!-- Mirrored from www.zi-han.net/theme/hplus/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>登录</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min862f.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    @*<script>if (window.top !== window.self) { window.top.location = window.location; }</script>*@


    <style>
  
    </style>
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">Idr4</h1>
            </div>
            <h3>欢迎使用 LYM-IDR4</h3>
            <form class="m-t"  asp-route="Login">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <input  asp-for="Username" autofocus class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" asp-for="Password" required="" autocomplete="off">
                </div>

                @*@if (Model.AllowRememberLogin)
                {
                    <div class="form-group login-remember">
                        <label asp-for="RememberLogin">
                            <input asp-for="RememberLogin">
                            <strong>Remember My Login</strong>
                        </label>
                    </div>
                }*@
              
                <button  name="button" class="btn btn-primary block full-width m-b" value="login">登 录</button>

                <p class="text-muted text-center">
                    <a href="login.html#"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
                </p>
                <p>
                    @Html.Partial("_ValidationSummary")
                </p>
            </form>
        </div>
    </div>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

<!-- Mirrored from www.zi-han.net/theme/hplus/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:23 GMT -->
</html>
