@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@using (Html.BeginForm("CoustomLogOut", "Home",FormMethod.Post))
{
  <button type="submit">退出</button>

}

